<div id="carrito-item-<%= item.id %>">
  
  <%= item.product.nombre %>
  <%= item.cantidad %>
  <%= number_to_currency(item.precio, unit: "COP ", separator: ",", delimiter: ".") %>
  <%= number_to_currency(item.precio * item.cantidad, unit: "COP ", separator: ",", delimiter: ".") %>
  
    <%= button_to "-", carrito_item_path(item), method: :patch, data: { turbo_stream: true } %>
  
  
    <%= button_to "Eliminar todo", carrito_item_path(item), method: :delete, data: { turbo_confirm: "¿Eliminar este producto del carrito?" } %>
  
</div>
