<section id="carrito-contenido" class="carrito">
  <h2>Tu Carrito</h2>
  <% if @items.empty? %>
    <p>El carrito está vacío.</p>
  <% else %>
    <%= turbo_frame_tag "carrito", class: "carrito-items" do %>
      <%= render partial: "carritos/item", collection: @carrito.carrito_items, as: :item %>
    <% end %>

    <p><strong>Total de productos:</strong> <span id="contador-productos"><%= @carrito.carrito_items.sum(:cantidad) %></span></p>

    <p><strong>Total a pagar:</strong> <span id="total-carrito">
      <%= number_to_currency(@carrito.carrito_items.sum { |item| item.precio * item.cantidad }, unit: "COP ", separator: ",", delimiter: ".") %>
    </span></p>

    <%= link_to "Finalizar Compra", "#", class: "btn-finalizar" %>
  <% end %>
</section>
