<h2>Editar Grupo</h2>

<%= form_with model: [:dashboard, @grupo], local: true, html: { class: "dashboard-form" } do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, value: @grupo.nombre %>
  </div>

  <div>
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, value: @grupo.descripcion %>
  </div>


  <div>
    <%= form.label :imagen %>
    <%= form.file_field :imagen, accept: 'image/*' %>
    <% if @grupo.imagen.attached? %>
      <div class="current-image">
        <p>Imagen actual:</p>
        <%= image_tag @grupo.imagen, alt: @grupo.nombre, class: "grupo-imagen" %>
      </div>
    <% else %>
      <div class="current-image">
        <p>Imagen actual:</p>
        <strong>No hay imagen actualmente.</strong>
      </div>
    <% end %>
  </div>

  <%= form.submit "Actualizar Grupo" %>
  
  <%= link_to 'Volver', dashboard_grupos_path %>
<% end %>

