<section class="home">
    <%= image_tag 'LogoLogoText2.svg', alt: 'Anuncio', class: 'anuncio' %>
    <h2>¡ Pide tu comida favorita con un click !</h2>
    <div class="grupos">
        <% @grupos.each do |grupo| %>
            <% productos_disponibles = grupo.products.select(&:disponible) %>
            <% if productos_disponibles.any? %>
                <a href="<%= productos_por_grupo_path(grupo.nombre.parameterize) %>", class="grupo-carta">
                    <%= image_tag 'LogoLogo.svg' %>
                    <h3><%= grupo.nombre %></h3>
                </a>
            <% end %>
        <% end %>
    </div>
    <h2> 🔥 Promociones de Dia</h2>
    <div class="promociones">            
        <div class="promo">
            <%= image_tag 'LogoLogoAPP.svg', alt: 'comida', width: 200 %>
            <div>
                <h3>Combo Pollo - $19.900</h3>
                <button>Pedir Ahora</button>
            </div>
        </div>
        <div class="promo">
            <%= image_tag 'LogoLogoAPP.svg', alt: 'comida', width: 200 %>
            <div>
                <h3>2x1 Hamburguesas</h3>
                <button>Pedir Ahora</button>
            </div>
        </div>
                    <div class="promo">
            <%= image_tag 'LogoLogoAPP.svg', alt: 'comida', width: 200 %>
            <div>
                <h3>Combo Pollo - $19.900</h3>
                <button>Pedir Ahora</button>
            </div>
        </div>
        <div class="promo">
            <%= image_tag 'LogoLogoAPP.svg', alt: 'comida', width: 200 %>
            <div>
                <h3>2x1 Hamburguesas</h3>
                <button>Pedir Ahora</button>
            </div>
        </div>
    </div>
    <div class="home-info">
        <div class="contacto">
            <h2>Contáctanos</h2>
            <article class="contacto-item">
                <a href="#">
                    <div class="icono-circulo">
                        <%= image_tag "icons/envelope-solid.svg", alt: "correo" %>
                    </div>
                    <p>biteviasoftware@gmail.com</p>
                </a>
            </article>
            <article class="contacto-item">
                <a href="#">
                    <div class="icono-circulo">
                        <%= image_tag "icons/whatsapp-brands.svg", alt: "correo" %>
                    </div>
                    <p>+57 3024681298</p>
                </a>
            </article>
            <article class="contacto-item">
                <a href="#">
                    <div class="icono-circulo">
                        <%= image_tag "icons/location-dot-solid.svg", alt: "correo" %>
                    </div>
                    <p>Calle 30 ##3e-164, Cra. 3e #27c112, Barranquilla, Atlántico</p>
                </a>
            </article>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.2743398504213!2d-74.7857876249557!3d10.942637289216423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef5d390bce185a1%3A0x7b668739ec70f4b4!2sSENA%20CENTRO%20INDUSTRIAL%20Y%20DE%20AVIACION!5e0!3m2!1ses!2sco!4v1750989006175!5m2!1ses!2sco" width="100%" height="450" style="border:0;border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>