<div class="grupo">
  <h2>Productos de <%= @grupo.nombre %></h2>

  <% if @productos.any? %>
    <div class="cartas">
      <% @productos.each do |producto| %>
        

            <div class="carta">
                <%= image_tag(producto.imagen.attached? ? producto.imagen : "LogoLogoText2.svg") %>
                <h4><%= producto.nombre %></h4>
                <p><%= producto.descripcion %></p>
                <p><strong><%= number_to_currency(producto.precio, unit: "COP ", separator: ",", delimiter: ".", precision: 0) %> $</strong></p>
                <div class = "botones-compra">
                  <%= form_with url: agregar_al_carrito_path, method: :post, html: { class: "form-agregar-carrito", data: { turbo: false } } do %>
                    <%= hidden_field_tag :producto_id, producto.id %>
                    <%= submit_tag "Agregar al Carrito", class: "boton-compra"%>
                  <% end %>
                  <%= link_to "Comprar ahora", formulario_path(producto.id), class: 'boton-compra' %>
                </div>
            </div>

        <% end %>
    </div>
  <% else %>
    <div class="sin-productos">
      <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
      <h2>No hay productos disponibles por ahora.</h2>
    </div>
  <% end %>
</div>
