<% productos_disponibles = @grupo.products.where(disponible: true).order(id: :asc) %>

<% if productos_disponibles.any? %>
  <div class="grupo">
    <div class="producto-btn grupo-show-links">
      <h2><%= @grupo.nombre %></h2>
      <%= link_to "Mostrar Categorias", grupos_path %>
    </div>
    <div class="grupos">
      <% productos_disponibles.each do |producto| %>
        <div class="grupo-carta grupo-producto">
          <%= link_to grupo_product_path(@grupo, producto), class: "link-carta" do %>
            <div class="grupo-imagen">
              <%= image_tag(producto.imagen.attached? ? producto.imagen : "LogoLogoText2.svg") %>
            </div>
            <h4><%= producto.nombre %></h4> 
            <p><strong><%= number_to_currency(producto.precio, unit: "COP ", separator: ",", delimiter: ".", precision: 0) %> $</strong></p>
          <% end %>
          <div class="botones-compra">
            <div class="botones-compra">
              <%= button_to "Agregar al Carrito", carrito_items_path(product_id: producto.id), method: :post, data: { turbo_frame: "_top" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="sin-productos">
    <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
    <h2>No hay productos disponibles por ahora.</h2>
  </div>
<% end %>
