<% productos_disponibles = @grupo.products.where(disponible: true).order(id: :asc) %>

<% if productos_disponibles.any? %>
  <div class="grupo">
    <div class="producto-btn grupo-show-links">
      <h2><%= @grupo.nombre %></h2>
      <%= link_to "Mostrar Categorias", grupos_path %>
    </div>
    <div class="grupos">
      <% productos_disponibles.each do |producto| %>
        <div class="grupo-carta grupo-producto">
          <%= link_to grupo_product_path(@grupo, producto), class: "link-carta" do %>
            <div class="grupo-imagen">
              <%= image_tag(producto.imagen.attached? ? producto.imagen : "LogoLogoText2.svg") %>
            </div>
            <h4><%= producto.nombre %></h4> 
            <p><strong><%= number_to_currency(producto.precio, unit: "COP ", separator: ",", delimiter: ".", precision: 0) %> $</strong></p>
          <% end %>
          <div class="botones-compra">
            <%# <%= form_with url: agregar_al_carrito_path, method: :post, html: { class: "form-agregar-carrito", data: { turbo: false } } do %>
              <%# <%= hidden_field_tag :producto_id, producto.id %>
              <%# <%= submit_tag "Agregar al Carrito", class: "boton-compra"%>
            <%# <% end %>
            <%# <%= link_to "Comprar ahora", formulario_path(producto.id), class: 'boton-compra' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="sin-productos">
    <%= image_tag "ProductoNoDisponible.png", alt: "Producto No Disponible" %>
    <h2>No hay productos disponibles por ahora.</h2>
  </div>
<% end %>
