<h2 class="title-banner">Banner vista principal</h2>

<%= form_with model: @banner, url: dashboard_banners_path, local: true, multipart: true do |f| %>
    <div class ="selecion-image">
        <%= f.label :image, "Seleccionar imagen" %><br>
        <%= f.file_field :image %>
        <%= f.submit "Subir imagen", class: "btn-aggr" %>
    </div>
<% end %>

<h3 class = "title-banner">Imágenes Montadas</h3>

<section class= "dash-banner">
    <% @banners.each do |banner| %>
        <% if banner.image.attached? %>
                <div class ="tarjeta-banner">
                    <%= image_tag banner.image, width: 200 %>
                    <%= button_to 'Eliminar', dashboard_banner_path(banner), method: :delete, class: "btn-eliminar" %>
                </div>
            <% else %>
            <p>⚠️ Esta imagen no está adjunta</p>
        <% end %>
    <% end %>
</section>
